body {
  border: 4mm ridge rgba(50, 154, 240, 0.6);
  border-radius: 20px 20px 20px 20px;
  margin: 80px;
  color: whitesmoke;
  background-image: url("../images/noaa-UJsUJr3cgEM-unsplash.jpg");
  font-family: "Amatic SC", cursive;
}
.container {
  background-color: #1c305a;
  opacity: 80%;
}
#search-form {
  display: inline;
}
#search-input {
  text-align: center;
  padding-left: 10px;
  border-radius: 30px;
  border-color: transparent;
  box-shadow: 2px 2px 2px gray;
  font-size: 20px;
  width: 200px;
}
#searchButton {
  border-radius: 30px;
  border-color: transparent;
  box-shadow: 2px 2px 2px gray;
  background-color: rgb(57, 240, 185);
  font-size: 18px;
}
#searchButton:hover {
  background-color: blue;
  color: white;
}
#current-place {
  position: relative;
  left: 46%;
  border-radius: 30px;
  background-color: rgb(57, 240, 185);
  border-color: transparent;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 2px 2px 2px gray;
}
#current-place:hover {
  background-color: blue;
  color: white;
}
h5 {
  border: 5px solid rgb(57, 240, 185);
  background: deepskyblue;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 24px;
  margin-left: 10px;
  margin-right: 20px;
}
#place {
  text-align: center;
  color: white;
  font-size: 60px;
  margin-left: 25%;
  margin-right: 25%;
}
h4 {
  font-size: 70px;
  font-weight: bold;
  text-align: right;
}
h2 {
  text-align: center;
  line-height: 50px;
  font-size: 40px;
}
.future {
  font-size: 50px;
  font-weight: 700;
  color: white;
  padding-bottom: 20px;
  padding-left: 20px;
  text-align: center;
}
p {
  border: solid rgb(57, 240, 185);
  text-align: center;
  background-color: aqua;
}
.monday,
.tuesday,
.wednesday,
.thursday,
.friday {
  color: lightskyblue;
  font-size: 30px;
  font-weight: 900;
  padding-left: 20%;
  text-align: left;
}
.info {
  color: lightblue;
  font-weight: 300;
  text-align: right;
  font-size: 24px;
  padding-right: 27%;
}
footer {
  text-align: center;
  font-size: 20px;
  color: lightblue;
  font-weight: 500;
  padding-bottom: 20px;
}
